.body-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
header  {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block{
    text-align:center;
    vertical-align: middle;
    width: 300px;
    line-height: 24px;
    text-transform: uppercase;
}

main{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

img.fit {
    margin: 10px 10px 10px 0px;
    width: 300px;
    height: 300px;
    border-radius:5px;
    object-fit:cover;
}

.pet-text {
   text-align: center;
}
